# Task 4.6
## Combining & Exporting Data

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Original and prepared data import

In [4]:
path = r'D:\Downloads\Data Analytics\content\Task 4'

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Original', 'order_products__prior.csv'), index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)

### Checking Data output

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_without_orders
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 7)

### Merged Dataframe

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_without_orders,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))